/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html {
  color: rgba(0, 0, 0, 0.88);
  background: rgb(255, 255, 255);
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

html.dark {
  color: rgba(255, 255, 255, 0.85);
  background: rgb(20, 20, 20);
}

#header{
  color: rgba(255, 255, 255, 0.85);
}

#logo{
  background: #001529;
  color: rgba(255, 255, 255, 0.85);
}