#layout {
  min-height: 100vh;
  .header {
    background: #fff;
    padding: 0;
    box-shadow: 0 2px 8px #f0f1f2;
    display: flex;
    .user-avatar {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 12px;
      .user-avatar-img {
        margin: 20px 8px 20px 0;
        color: #1890ff;
        vertical-align: top;
        background: hsla(0, 0%, 100%, 0.85);
      }
      .user-avatar-name {
        color: rgba(0, 0, 0, 0.65);
        vertical-align: middle;
      }
    }
    .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color 0.3s;
      margin-right: auto;
      &:hover {
        color: #1890ff;
      }
    }
    .theme-switch{
      margin: 0 10px;
    }
  }
}

#layout .sider .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#layout .sider .logo .logo-img {
  width: 32px;
  margin: 0 8px;
}

#layout .sider .logo .logo-title {
  line-height: 32px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
  animation: fade-in;
  animation-duration: 0.3s;
  color: #fff;
}

#layout .main {
  margin: 24px 16px;
  background: #fff;
}
